// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  .dark-theme{
    --ion-color-primary: #eb4b58;
    --ion-color-primary-rgb: 235,75,88;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #cf424d;
    --ion-color-primary-tint: #ed5d69;

    ion-content{
      --background:#2c4b84;
    }

    ion-toolbar{
      --background:#0f2142;
      --color:#fff;
    }

    ion-list{
      --ion-item-background:#2c4b84;
      --ion-item-color:#fff;
      ion-list-header{
        --color:#fff;
      }
    }

    ion-card{
      --color:#fff;
      ion-card-title,ion-card-subtitle{
        --color:#fff;
      }
    }

    ion-tab-bar{
      --background:#0f2142;
      --color:#fff;
    }
  }
}
